.llm.env
.idea/crawler.iml
.idea/misc.xml
.idea/vcs.xml
.github/.idea/.github.iml
.github/.idea/misc.xml
.github/.idea/modules.xml
.github/.idea/workspace.xml
.github/.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
src/__pycache__/config_paths.cpython-312.pyc
src/__pycache__/consultar_horarios_rag.cpython-312.pyc
src/__pycache__/procesar_datos_unificado.cpython-312.pyc
src/__pycache__/sistema_embeddings_horarios.cpython-312.pyc
tests/__pycache__/test_analisis_especifico.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_conflictos_horarios.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_conflictos_mejorado.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_consultas_final.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_consultas_horarios.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_consultas_mejoradas.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_normalizacion_nombres.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_rag_horarios.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/test_simple_horarios.cpython-312-pytest-8.4.1.pyc
tests/__pycache__/*
tests/__pycache__/test_consultas_horarios.cpython-312-pytest-8.4.1.pyc
